body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.light-mode {
  background-color: #bf7b00;
  color: #4a4a4a;
  height: 100vh;
  padding: 0.5rem;
  overflow-y: scroll;
}

.dark-mode {
  background-color: #2e2e2e;
  color: #e0e0e0;
  height: 100vh;
  padding: 0.5rem;
  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

.light-mode a {
  color: #007bff;
}

.dark-mode a {
  color: #82b1ff;
}

.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.light-mode .button {
  background-color: #ffd9b3;
  color: #4A4A4A;
}

.dark-mode .button {
  background-color: #424242;
  color: #ffffff;
}

.accent {
  color: #007bff;
}

.dark-mode .accent {
  color: #82b1ff;
}

.header {
  position: relative;
  top: 0;
  display: flex;
  background-color: #cfc9c9;
  color: #1A2E43;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.header-left {
  align-items: center;
  display: flex;
  min-width: 0;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 0.5rem;
  gap: 1rem;
}

.header-right div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  color: #454647;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.light-mode .active-tab {
  background-color: #ff9c39d1;
  color: #4e4e4e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark-mode .active-tab {
  background-color: #424242;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.h-img-w {
  width: 3rem;
}

.font-script {
  font-family: 'Courier New', Courier, monospace;
}

.button-login {
  background-color: #5787d7;
  color: #ffffff;
  font-size: 0.25rem;
  font-weight: 500;
  border-radius: 5px;
  border: 0;
  width: 5rem;
  height: 2rem;
  transition: background-color 0.2s ease-in-out;
  margin-top: 0.6rem;
  box-shadow: 0 4px 9px -4px #3b71ca;
}

.button-login:hover {
  color: #ffffff;
  background-color: #386bc0;
  border-color: #2f5aa2;
}

.button-login:active {
  background-color: #3566b6;
  color: #ffffff;
}

.w-1\/3 {
  width: 33%;
}

.input-height {
  height: 32px;
}

.form-control:hover {
  border-color: #6c757d;
}

.fs-small {
  font-size: 0.875rem !important;
}

.cursor-pointer {
  cursor: pointer;
}
